In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\USER\\Documents\\project\\code'

In [3]:
os.chdir(path = '../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'NA_Sample.xlsx',
 'test.csv']

In [5]:
apt = pd.read_pickle('APT_List.pkl')

In [6]:
apt.head()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,등기일자,매도자,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,NaT,NaN,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,NaT,NaN,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,NaT,NaN,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,NaT,NaN,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,NaT,NaN,60.76,2

In [7]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   거래금액    231904 non-null  int64
 1   지역코드    231904 non-null  int64
 2   아파트     231904 non-null  object
 3   시도명     231904 non-null  object
 4   시군구     231904 non-null  object
 5   법정동     231904 non-null  object
 6   지번      231904 non-null  object
 7   건축년도    231904 non-null  int64
 8   년       231904 non-null  int64
 9   월       231904 non-null  int64
 10  일       231904 non-null  int64
 11  등기일자    79535 non-null   datetime64[ns]
 12  매도자     56193 non-null   object
 13  전용면적    231904 non-null  float64
 14  층       231904 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 26.5+ MB

In [8]:
apt.isna().sum()

거래금액         0
지역코드         0
아파트          0
시도명          0
시군구          0
법정동          0
지번           0
건축년도         0
년            0
월            0
일            0
등기일자    152369
매도자     175711
전용면적         0
층            0
dtype: int64

In [9]:
apt.isna().mean()

거래금액    0.000000
지역코드    0.000000
아파트     0.000000
시도명     0.000000
시군구     0.000000
법정동     0.000000
지번      0.000000
건축년도    0.000000
년       0.000000
월       0.000000
일       0.000000
등기일자    0.657035
매도자     0.757689
전용면적    0.000000
층       0.000000
dtype: float64

In [10]:
apt = apt.dropna(axis = 1)
apt.shape

(231904, 13)

In [11]:
cond = (apt['거래금액'] >= 1500000)
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
172193,1800000,11170,파르크한남,서울특별시,용산구,한남동,410,2020,2023,8,17,268.6700,4
208226,1800000,11650,아크로리버파크,서울특별시,서초구,반포동,2-12,2016,2024,8,5,234.9100,35
226887,2000000,11170,나인원한남,서울특별시,용산구,한남동,829,2019,2024,6,4,273.9424,1
226893,2200000,11170,나인원한남,서울특별시,용산구,한남동,829,2019,2024,7,22,273.4125,1
226921,1700000,11170,파르크한남,서울특별시,용산구,한남동,410,2020,2024,10,22,268.9500,4

In [12]:
cond = (apt['거래금액'] < 1500000) & (apt['층'] >= 65)
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
1290,542500,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.740,67
1413,380000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,10,27,185.622,66
68035,240000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2020,7,3,154.050,66
84865,458000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021,6,24,214.967,66
141235,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.622,68
168521,320000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2023,7,3,167.440,65
177189,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.622,68
220684,380000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.440,68
221196,300000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.200,67

In [13]:
cond = apt['거래금액'].lt(1500000) & apt['층'].ge(65)
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
1290,542500,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.740,67
1413,380000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,10,27,185.622,66
68035,240000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2020,7,3,154.050,66
84865,458000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021,6,24,214.967,66
141235,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.622,68
168521,320000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2023,7,3,167.440,65
177189,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.622,68
220684,380000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.440,68
221196,300000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.200,67

In [14]:
apt['층'].ge(10) & apt['층'].le(20)

0          True
1          True
2          True
3          True
4         False
          ...
231899     True
231900     True
231901    False
231902    False
231903     True
Name: 층, Length: 231904, dtype: bool

In [15]:
(apt['층'].ge(10) & apt['층'].le(20)).sum()

np.int64(88699)

In [16]:
apt['층'].between(10, 20).sum()

np.int64(88699)

In [17]:
cond = apt['시군구'].eq('강남구')
apt.loc[cond, :].shape[0]

12790

In [18]:
cond = apt['시군구'].eq('강남구') | apt['시군구'].eq('서초구') | apt['시군구'].eq('송파구')
apt.loc[cond, :].shape[0]

37970

In [19]:
cond1 = apt['시군구'].eq('강남구')
cond2 = apt['시군구'].eq('서초구')
cond3 = apt['시군구'].eq('송파구')
apt.loc[cond1 | cond2 | cond3, :].shape[0]

37970

In [20]:
# 원소 in 리스트: 리스트에 원소가 있으면 True, 없으면 False
cond = apt['시군구'].isin(values = ['강남구', '서초구', '송파구'])
apt.loc[cond, :].shape[0]

37970

In [21]:
cond = apt['시군구'].str.contains(pat = '(강남|서초|송파)구')
apt.loc[cond, :].shape[0]

C:\Users\USER\AppData\Local\Temp\ipykernel_1416\324357053.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cond = apt['시군구'].str.contains(pat = '(강남|서초|송파)구')

37970

In [22]:
cond = apt['시군구'].isin(values = ['강남구', '강동구', '강북구', '강서구'])
apt.loc[cond, :].shape[0]

44193

In [23]:
cond = apt['시군구'].str.contains(pat = '^강')
apt.loc[cond, :].shape[0]

44193

In [24]:
# 서울특별시 강남구 압구정동 아파트 매매건수?
cond = apt['시군구'].eq('강남구') & apt['법정동'].eq('압구정동')
cond.sum()

np.int64(1061)

In [25]:
# 서울특별시 강남구에서 전용면적이 150 제곱미터 이상인 매매건수?
cond = apt['시군구'].eq('강남구') & apt['전용면적'].ge(150)
cond.sum()

np.int64(1242)

In [26]:
apt.drop(columns = '지역코드')

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,84.03,11
231900,50500,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,59.34,10
231901,60000,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,59.76,4
231902,67000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,59.76,9
231903,11000,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [27]:
apt.head()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2

In [28]:
# apt.drop(columns = ['지역코드'], inplace = True)
apt = apt.drop(columns = ['지역코드'])

In [29]:
apt.head()

     거래금액       아파트    시도명  시군구  법정동    지번  건축년도     년  월   일    전용면적   층
0  100500   삼익대청아파트  서울특별시  강남구  개포동    12  1992  2020  1  31   39.53  13
1  203000      개포자이  서울특별시  강남구  개포동  12-2  2004  2020  1   6  134.30  17
2  180000   개포주공6단지  서울특별시  강남구  개포동   185  1983  2020  1  14   60.13  14
3  285000  디에이치아너힐즈  서울특별시  강남구  개포동  1281  2019  2020  1   4   94.29  12
4  171000   개포주공7단지  서울특별시  강남구  개포동   185  1983  2020  1  12   60.76   2

In [30]:
df1 = apt.sample(n = 5, random_state = 1234)
df1

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
163874,59800,삼부컨비니언,서울특별시,성북구,길음동,1276,1998,2023,9,20,59.94,14
220404,105000,한강극동,서울특별시,송파구,풍납동,508,1995,2024,6,22,84.76,13
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [31]:
df1.drop(index = [0, 1])

KeyError: '[0, 1] not found in axis'

In [32]:
df1.drop(index = [163874, 220404])

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [33]:
df1.drop(index = df1.index[0:2])

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [34]:
apt.rename(columns = {'아파트': '단지명', '건축년도': '입주년도'})

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,년,월,일,전용면적,층
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,84.03,11
231900,50500,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,59.34,10
231901,60000,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,59.76,4
231902,67000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,59.76,9
231903,11000,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [35]:
apt.columns

Index(['거래금액', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '년', '월', '일', '전용면적',
       '층'],
      dtype='object')

In [36]:
apt.columns = ['거래금액', '단지명', '시도명', '시군구', '법정동', '지번', 
               '입주년도', '계약년도', '계약월', '계약일', '전용면적', '층']

In [37]:
apt.head()

     거래금액       단지명    시도명  시군구  법정동    지번  입주년도  계약년도  계약월  계약일    전용면적   층
0  100500   삼익대청아파트  서울특별시  강남구  개포동    12  1992  2020    1   31   39.53  13
1  203000      개포자이  서울특별시  강남구  개포동  12-2  2004  2020    1    6  134.30  17
2  180000   개포주공6단지  서울특별시  강남구  개포동   185  1983  2020    1   14   60.13  14
3  285000  디에이치아너힐즈  서울특별시  강남구  개포동  1281  2019  2020    1    4   94.29  12
4  171000   개포주공7단지  서울특별시  강남구  개포동   185  1983  2020    1   12   60.76   2

In [38]:
df2 = apt.set_index(keys = ['단지명', '시도명', '시군구', '법정동', '지번'])
df2.head()

                               거래금액  입주년도  계약년도  계약월  계약일    전용면적   층
단지명      시도명   시군구 법정동 지번
삼익대청아파트  서울특별시 강남구 개포동 12    100500  1992  2020    1   31   39.53  13
개포자이     서울특별시 강남구 개포동 12-2  203000  2004  2020    1    6  134.30  17
개포주공6단지  서울특별시 강남구 개포동 185   180000  1983  2020    1   14   60.13  14
디에이치아너힐즈 서울특별시 강남구 개포동 1281  285000  2019  2020    1    4   94.29  12
개포주공7단지  서울특별시 강남구 개포동 185   171000  1983  2020    1   12   60.76   2

In [39]:
df2.index

MultiIndex([(              '삼익대청아파트', '서울특별시', '강남구', '개포동',    '12'),
            (                 '개포자이', '서울특별시', '강남구', '개포동',  '12-2'),
            (              '개포주공6단지', '서울특별시', '강남구', '개포동',   '185'),
            (             '디에이치아너힐즈', '서울특별시', '강남구', '개포동',  '1281'),
            (              '개포주공7단지', '서울특별시', '강남구', '개포동',   '185'),
            (             '래미안블레스티지', '서울특별시', '강남구', '개포동',  '1280'),
            (           '성원대치2단지아파트', '서울특별시', '강남구', '개포동',    '12'),
            (           '성원대치2단지아파트', '서울특별시', '강남구', '개포동',    '12'),
            (               '개포우성3차', '서울특별시', '강남구', '개포동',   '652'),
            (           '성원대치2단지아파트', '서울특별시', '강남구', '개포동',    '12'),
            ...
            ('한신아파트상가동유치원동(103~109)', '서울특별시', '중랑구', '중화동',   '450'),
            ('한신아파트상가동유치원동(103~109)', '서울특별시', '중랑구', '중화동',   '450'),
            ('한신아파트상가동유치원동(103~109)', '서울특별시', '중랑구', '중화동',   '450'),
            ('한신아파트상가동유치원동(103~109)', '서울특별시', '중랑구', '중화동',   '450'),
            ('한신아파트상가동유치원동(103~109)', '서울특별시', '중랑구', '중화동',   '450'),
            ('한신아파트상가동유치원동(102~102)', '서울특별시', '중랑구', '중화동',   '450'),
            (            '삼익아파트.상가동', '서울특별시', '중랑구', '중화동',   '438'),
            ('한신아파트상가동유치원동(103~109)', '서울특별시', '중랑구', '중화동',   '450'),
            ('한신아파트상가동유치원동(102~102)', '서울특별시', '중랑구', '중화동',   '450'),
            (                '범양프레체', '서울특별시', '중랑구', '중화동', '208-4')],
           names=['단지명', '시도명', '시군구', '법정동', '지번'], length=231904)

In [40]:
df2.reset_index()

,단지명,시도명,시군구,법정동,지번,거래금액,입주년도,계약년도,계약월,계약일,전용면적,층
0,삼익대청아파트,서울특별시,강남구,개포동,12,100500,1992,2020,1,31,39.53,13
1,개포자이,서울특별시,강남구,개포동,12-2,203000,2004,2020,1,6,134.30,17
2,개포주공6단지,서울특별시,강남구,개포동,185,180000,1983,2020,1,14,60.13,14
3,디에이치아너힐즈,서울특별시,강남구,개포동,1281,285000,2019,2020,1,4,94.29,12
4,개포주공7단지,서울특별시,강남구,개포동,185,171000,1983,2020,1,12,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...
231899,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,74000,1998,2024,11,21,84.03,11
231900,삼익아파트.상가동,서울특별시,중랑구,중화동,438,50500,1995,2024,11,13,59.34,10
231901,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,60000,1997,2024,11,18,59.76,4
231902,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,67000,1998,2024,11,2,59.76,9
231903,범양프레체,서울특별시,중랑구,중화동,208-4,11000,2012,2024,12,7,17.94,15

In [41]:
df1

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
163874,59800,삼부컨비니언,서울특별시,성북구,길음동,1276,1998,2023,9,20,59.94,14
220404,105000,한강극동,서울특별시,송파구,풍납동,508,1995,2024,6,22,84.76,13
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [42]:
df1.reset_index().drop(columns = 'index')

     거래금액        아파트    시도명  시군구    법정동    지번  건축년도     년   월   일    전용면적   층
0   59800     삼부컨비니언  서울특별시  성북구    길음동  1276  1998  2023   9  20   59.94  14
1  105000       한강극동  서울특별시  송파구    풍납동   508  1995  2024   6  22   84.76  13
2  313000     레이크팰리스  서울특별시  송파구    잠실동    44  2006  2024   7   9  135.82  28
3  144000   현대I-PARK  서울특별시  성동구  성수동2가   834  2003  2020  10   6  116.22  11
4   96000  고덕리엔파크3단지  서울특별시  강동구    상일동   490  2011  2024   9  28   84.83   5

In [43]:
df1.reset_index(drop = True)

     거래금액        아파트    시도명  시군구    법정동    지번  건축년도     년   월   일    전용면적   층
0   59800     삼부컨비니언  서울특별시  성북구    길음동  1276  1998  2023   9  20   59.94  14
1  105000       한강극동  서울특별시  송파구    풍납동   508  1995  2024   6  22   84.76  13
2  313000     레이크팰리스  서울특별시  송파구    잠실동    44  2006  2024   7   9  135.82  28
3  144000   현대I-PARK  서울특별시  성동구  성수동2가   834  2003  2020  10   6  116.22  11
4   96000  고덕리엔파크3단지  서울특별시  강동구    상일동   490  2011  2024   9  28   84.83   5

In [44]:
apt['평당금액'] = apt['거래금액'] / apt['전용면적'] * 3.3
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.830508
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.086374
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.596375
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.546612
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.360105

In [45]:
price = 4988.086374

In [46]:
f'{price:.2f}'

'4988.09'

In [47]:
def func(x):
    return f'{x:.2f}'

In [48]:
func(x = 4988.086374)

'4988.09'

In [49]:
(lambda x: f'{x:.2f}')(x = 4988.086374)

'4988.09'

In [50]:
pd.set_option('display.float_format', lambda x: f'{x:,.1f}')

In [51]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.5,13,"8,389.8"
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.3,17,"4,988.1"
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.1,14,"9,878.6"
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.3,12,"9,974.5"
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.8,2,"9,287.4"

In [52]:
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')

In [53]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,"8,389.83"
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,"4,988.09"
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,"9,878.60"
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,"9,974.55"
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,"9,287.36"

In [54]:
apt['거래금액'] = apt['거래금액'] / 10000
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,"8,389.83"
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,"4,988.09"
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,"9,878.60"
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,"9,974.55"
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,"9,287.36"

In [55]:
apt['경과년수'] = apt['계약년도'] - apt['입주년도']
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,"8,389.83",28
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,"4,988.09",16
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,"9,878.60",37
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,"9,974.55",1
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,"9,287.36",37

In [56]:
apt['재건축'] = np.nan

In [57]:
for i in range(len(apt['경과년수'])):
    if apt['경과년수'].iloc[i] >= 30:
        apt['재건축'].iloc[i] = '충족'
    else:
        apt['재건축'].iloc[i] = '부족'

C:\Users\USER\AppData\Local\Temp\ipykernel_1416\3989896652.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  apt['재건축'].iloc[i] = '부족'
C:\Users\USER\AppData\Local\Temp\ipykernel_1416\3989896652.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apt['재건축'].iloc[i] = '부족'
C:\Users\USER\AppData\Local\Temp\ipykernel_1416\3989896652.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '부족' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  apt['재건축'].iloc[i] = '부족'
C:\Users\USER\AppData\Local\Temp\ipykernel_1416\3989896652.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  apt['재건축'].iloc[i] = '부족'
C:\Users\USER\AppData\Local\Temp\ipykernel_1416\3989896652.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  apt['재건축'].iloc[i] = '충족'

In [58]:
apt['재건축'].value_counts()

재건축
부족    189192
충족     42712
Name: count, dtype: int64

In [59]:
cond = apt['경과년수'].ge(30)
apt['재건축'] = np.where(cond, '충족', '부족')
apt['재건축'].value_counts()

재건축
부족    189192
충족     42712
Name: count, dtype: int64

In [61]:
apt['단지명']

0                       삼익대청아파트
1                          개포자이
2                       개포주공6단지
3                      디에이치아너힐즈
4                       개포주공7단지
                  ...
231899    한신아파트상가동유치원동(102~102)
231900                삼익아파트.상가동
231901    한신아파트상가동유치원동(103~109)
231902    한신아파트상가동유치원동(102~102)
231903                    범양프레체
Name: 단지명, Length: 231904, dtype: object

In [60]:
apt['단지명'].apply(func = len)

0          7
1          4
2          7
3          8
4          7
          ..
231899    21
231900     9
231901    21
231902    21
231903     5
Name: 단지명, Length: 231904, dtype: int64

In [83]:
apt['단지명'].map(arg = len)

0          7
1          4
2          7
3          8
4          7
          ..
231899    21
231900     9
231901    21
231902    21
231903     5
Name: 단지명, Length: 231904, dtype: int64

In [62]:
cols = ['시도명', '시군구', '법정동', '지번']
apt[cols]

          시도명  시군구  법정동     지번
0       서울특별시  강남구  개포동     12
1       서울특별시  강남구  개포동   12-2
2       서울특별시  강남구  개포동    185
3       서울특별시  강남구  개포동   1281
4       서울특별시  강남구  개포동    185
...       ...  ...  ...    ...
231899  서울특별시  중랑구  중화동    450
231900  서울특별시  중랑구  중화동    438
231901  서울특별시  중랑구  중화동    450
231902  서울특별시  중랑구  중화동    450
231903  서울특별시  중랑구  중화동  208-4

[231904 rows x 4 columns]

In [63]:
apt[cols].apply(func = len, axis = 0)

시도명    231904
시군구    231904
법정동    231904
지번     231904
dtype: int64

In [64]:
apt[cols].apply(func = len, axis = 1)

0         4
1         4
2         4
3         4
4         4
         ..
231899    4
231900    4
231901    4
231902    4
231903    4
Length: 231904, dtype: int64

In [66]:
apt[cols].map(func = len)

        시도명  시군구  법정동  지번
0         5    3    3   2
1         5    3    3   4
2         5    3    3   3
3         5    3    3   4
4         5    3    3   3
...     ...  ...  ...  ..
231899    5    3    3   3
231900    5    3    3   3
231901    5    3    3   3
231902    5    3    3   3
231903    5    3    3   5

[231904 rows x 4 columns]

In [67]:
strs = ['I', 'am', 'a', 'boy']

In [69]:
' '.join(strs)

'I-am-a-boy'

In [72]:
str_join = lambda x: ' '.join(x)

In [73]:
str_join(x = strs)

'I am a boy'

In [74]:
apt[cols].iloc[0]

시도명    서울특별시
시군구      강남구
법정동      개포동
지번        12
Name: 0, dtype: object

In [75]:
str_join(x = apt[cols].iloc[0])

'서울특별시 강남구 개포동 12'

In [84]:
apt['시도명'] + ' ' + apt['시군구'] + ' ' + apt['법정동'] + ' ' + apt['지번']

0            서울특별시 강남구 개포동 12
1          서울특별시 강남구 개포동 12-2
2           서울특별시 강남구 개포동 185
3          서울특별시 강남구 개포동 1281
4           서울특별시 강남구 개포동 185
                 ...
231899      서울특별시 중랑구 중화동 450
231900      서울특별시 중랑구 중화동 438
231901      서울특별시 중랑구 중화동 450
231902      서울특별시 중랑구 중화동 450
231903    서울특별시 중랑구 중화동 208-4
Length: 231904, dtype: object

In [85]:
apt['주소'] = apt[cols].apply(func = str_join, axis = 1)

In [86]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축,주소
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,"8,389.83",28,부족,서울특별시 강남구 개포동 12
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,"4,988.09",16,부족,서울특별시 강남구 개포동 12-2
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,"9,878.60",37,충족,서울특별시 강남구 개포동 185
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,"9,974.55",1,부족,서울특별시 강남구 개포동 1281
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,"9,287.36",37,충족,서울특별시 강남구 개포동 185

!pip install seaborn

In [87]:
import seaborn as sns

In [88]:
iris = sns.load_dataset(name = 'iris')

In [91]:
iris = iris.select_dtypes(include = [int, float])

In [92]:
iris['sepal_length'].corr(iris['petal_width'])

np.float64(0.8179411262715757)

In [93]:
y = iris['petal_width']
corr = lambda x: x.corr(y)

In [94]:
corr(x = iris['sepal_length'])

np.float64(0.8179411262715757)

In [97]:
iris.apply(func = corr, axis = 0).abs().le(0.05)

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
dtype: bool

In [98]:
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도      int64
계약월       int64
계약일       int64
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [99]:
apt['계약년도'] = apt['계약년도'].astype(str)
apt['계약월'] = apt['계약월'].astype(str)
apt['계약일'] = apt['계약일'].astype(str)

In [100]:
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도     object
계약월      object
계약일      object
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [101]:
apt['계약년도'] = apt['계약년도'].astype('string')
apt['계약월'] = apt['계약월'].astype('string')
apt['계약일'] = apt['계약일'].astype('string')

In [102]:
apt.dtypes

거래금액           float64
단지명             object
시도명             object
시군구             object
법정동             object
지번              object
입주년도             int64
계약년도    string[python]
계약월     string[python]
계약일     string[python]
전용면적           float64
층                int64
평당금액           float64
경과년수             int64
재건축             object
주소              object
dtype: object

In [103]:
apt = apt.astype({'계약년도': int, '계약월': int, '계약일': int})
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도      int64
계약월       int64
계약일       int64
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [104]:
cols = ['계약년도', '계약월', '계약일']
apt[cols] = apt[cols].astype(str)
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도     object
계약월      object
계약일      object
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [105]:
apt['계약년도'] + '-' + apt['계약월'] + '-' + apt['계약일']

0          2020-1-31
1           2020-1-6
2          2020-1-14
3           2020-1-4
4          2020-1-12
             ...
231899    2024-11-21
231900    2024-11-13
231901    2024-11-18
231902     2024-11-2
231903     2024-12-7
Length: 231904, dtype: object

In [106]:
str_join = lambda x: '-'.join(x)

In [108]:
apt['계약일자'] = apt[cols].apply(func = str_join, axis = 1)

In [109]:
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도     object
계약월      object
계약일      object
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
계약일자     object
dtype: object

In [110]:
apt['계약일자'] = apt['계약일자'].astype('datetime64[ns]')

In [111]:
apt.dtypes

거래금액           float64
단지명             object
시도명             object
시군구             object
법정동             object
지번              object
입주년도             int64
계약년도            object
계약월             object
계약일             object
전용면적           float64
층                int64
평당금액           float64
경과년수             int64
재건축             object
주소              object
계약일자    datetime64[ns]
dtype: object

In [112]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축,주소,계약일자
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,"8,389.83",28,부족,서울특별시 강남구 개포동 12,2020-01-31
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,"4,988.09",16,부족,서울특별시 강남구 개포동 12-2,2020-01-06
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,"9,878.60",37,충족,서울특별시 강남구 개포동 185,2020-01-14
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,"9,974.55",1,부족,서울특별시 강남구 개포동 1281,2020-01-04
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,"9,287.36",37,충족,서울특별시 강남구 개포동 185,2020-01-12

In [113]:
apt['계약일자'].dt.dayofweek

0         4
1         0
2         1
3         5
4         6
         ..
231899    3
231900    2
231901    0
231902    5
231903    5
Name: 계약일자, Length: 231904, dtype: int32

In [115]:
apt['계약일자'].dt.day_name(locale = 'ko_KR')

0         금요일
1         월요일
2         화요일
3         토요일
4         일요일
         ...
231899    목요일
231900    수요일
231901    월요일
231902    토요일
231903    토요일
Name: 계약일자, Length: 231904, dtype: object

In [118]:
apt['계약일자'].dt.day_name(locale = 'ko_KR').value_counts(normalize = True) * 100

계약일자
토요일   24.87
월요일   14.42
금요일   14.38
화요일   14.10
수요일   14.08
목요일   13.40
일요일    4.75
Name: proportion, dtype: float64

In [119]:
apt['계약일자'].dt.strftime(date_format = '%Y-%m-%d')

0         2020-01-31
1         2020-01-06
2         2020-01-14
3         2020-01-04
4         2020-01-12
             ...
231899    2024-11-21
231900    2024-11-13
231901    2024-11-18
231902    2024-11-02
231903    2024-12-07
Name: 계약일자, Length: 231904, dtype: object

In [120]:
apt['계약일자'].dt.strftime(date_format = '%Y년 %m월 %d일')

0         2020년 01월 31일
1         2020년 01월 06일
2         2020년 01월 14일
3         2020년 01월 04일
4         2020년 01월 12일
              ...
231899    2024년 11월 21일
231900    2024년 11월 13일
231901    2024년 11월 18일
231902    2024년 11월 02일
231903    2024년 12월 07일
Name: 계약일자, Length: 231904, dtype: object

In [122]:
apt['계약일자'].dt.strftime(date_format = '%a %b %d, %Y')

0         Fri Jan 31, 2020
1         Mon Jan 06, 2020
2         Tue Jan 14, 2020
3         Sat Jan 04, 2020
4         Sun Jan 12, 2020
                ...
231899    Thu Nov 21, 2024
231900    Wed Nov 13, 2024
231901    Mon Nov 18, 2024
231902    Sat Nov 02, 2024
231903    Sat Dec 07, 2024
Name: 계약일자, Length: 231904, dtype: object

In [123]:
# pd.Series(data = ['2000년 1월 1일']).astype('datetime64[ns]')

DateParseError: Unknown datetime string format, unable to parse: 2000년 1월 1일, at position 0

In [125]:
birth = pd.to_datetime(arg = pd.Series(data = ['2000년 1월 1일']), format = '%Y년 %m월 %d일')
birth

0   2000-01-01
dtype: datetime64[ns]

In [126]:
birth.iloc[0]

Timestamp('2000-01-01 00:00:00')

In [127]:
birth.iloc[0].timestamp()

946684800.0

In [128]:
today = pd.Timestamp.today()
today

Timestamp('2025-05-14 14:08:26.953372')

In [129]:
today.timestamp()

1747231706.953372

In [130]:
dtGap = today - birth.iloc[0]

In [134]:
dtGap.days * 3 * 8500

236257500

In [135]:
ages = pd.Series(data = [29, 41, 39, 23, 'NULL'])
ages

0      29
1      41
2      39
3      23
4    NULL
dtype: object

In [136]:
ages.astype(int)

ValueError: invalid literal for int() with base 10: 'NULL'

In [144]:
pd.to_numeric(arg = ages, errors = 'coerce')

ValueError: Unable to parse string "NULL" at position 4

In [139]:
type(np.nan)

float

In [143]:
pd.to_numeric(arg = ages, errors = 'coerce').fillna(value = 199).astype(int)

0     29
1     41
2     39
3     23
4    199
dtype: int64

In [147]:
ages[ages.eq('NULL')] = 199

In [148]:
ages

0     29
1     41
2     39
3     23
4    199
dtype: object

In [149]:
gbn = ['신축', '준신축', '구축']

In [150]:
cstat = pd.Series(data = gbn).astype('category')
cstat

0     신축
1    준신축
2     구축
dtype: category
Categories (3, object): ['구축', '신축', '준신축']

In [151]:
cstat.cat.codes

0    1
1    2
2    0
dtype: int8

In [152]:
df3 = apt.loc[:, '거래금액':'재건축'].sample(n = 5, random_state = 3)
df4 = apt.loc[:, '거래금액':'재건축'].sample(n = 5, random_state = 4)

In [155]:
display(df3)
display(df4)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
6417,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,"3,023.16",16,부족
203576,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,"3,090.11",24,부족
36834,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,"1,534.07",26,부족
107201,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,"2,653.06",17,부족
216924,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,"6,181.15",38,충족

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,"4,210.90",32,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,"2,090.70",22,부족
195165,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,"2,536.07",19,부족
27958,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,"3,055.48",32,충족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,"4,252.20",8,부족

In [156]:
df3.columns.equals(df4.columns)

True

In [157]:
pd.concat(objs = [df3, df4])

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
6417,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,"3,023.16",16,부족
203576,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,"3,090.11",24,부족
36834,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,"1,534.07",26,부족
107201,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,"2,653.06",17,부족
216924,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,"6,181.15",38,충족
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,"4,210.90",32,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,"2,090.70",22,부족
195165,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,"2,536.07",19,부족
27958,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,"3,055.48",32,충족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,"4,252.20",8,부족

In [158]:
pd.concat(objs = [df3, df4], ignore_index = True)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
0,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,"3,023.16",16,부족
1,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,"3,090.11",24,부족
2,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,"1,534.07",26,부족
3,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,"2,653.06",17,부족
4,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,"6,181.15",38,충족
5,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,"4,210.90",32,충족
6,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,"2,090.70",22,부족
7,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,"2,536.07",19,부족
8,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,"3,055.48",32,충족
9,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,"4,252.20",8,부족

In [159]:
df4 = df4.rename(columns = {'재건축': '재건축연한'})

In [160]:
df3.columns.equals(df4.columns)

False

In [161]:
pd.concat(objs = [df3, df4], ignore_index = True)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축,재건축연한
0,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,"3,023.16",16,부족,NaN
1,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,"3,090.11",24,부족,NaN
2,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,"1,534.07",26,부족,NaN
3,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,"2,653.06",17,부족,NaN
4,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,"6,181.15",38,충족,NaN
5,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,"4,210.90",32,NaN,충족
6,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,"2,090.70",22,NaN,부족
7,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,"2,536.07",19,NaN,부족
8,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,"3,055.48",32,NaN,충족
9,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,"4,252.20",8,NaN,부족

In [162]:
pd.concat(objs = [df3, df4], axis = 1)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,...,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축연한
6417,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,"2,004.00",2020,7,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203576,7.95,대상3,서울특별시,마포구,망원동,491,"2,000.00",2024,7,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36834,3.95,청구아파트,서울특별시,도봉구,방학동,734,"1,994.00",2020,6,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107201,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,"2,004.00",2021,10,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216924,10.95,우성,서울특별시,송파구,가락동,96-1,"1,986.00",2024,8,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,720,"1,988.00",2020,12,21,41.30,11.00,"4,210.90",32.00,충족
24636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,336,"1,998.00",2020,7,4,59.98,9.00,"2,090.70",22.00,부족
195165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,600,"2,005.00",2024,3,8,84.97,13.00,"2,536.07",19.00,부족
27958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,765,"1,988.00",2020,1,28,32.39,11.00,"3,055.48",32.00,충족
55751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,700,"2,012.00",2020,6,17,84.98,6.00,"4,252.20",8.00,부족

In [163]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'NA_Sample.xlsx',
 'test.csv']

In [164]:
dtl = pd.read_excel('APT_Detail_Seoul_2024.xlsx')

In [165]:
dtl.head()

,아파트ID,아파트명,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,146479,YH빌리지,서울시 강남구 개포동 1237-8,37.48,127.05,1,16,0,297,59,9,(주)세담종합건설
1,881,개포더샵트리에,서울시 강남구 개포동 651-1,37.48,127.06,2,232,0,355,30,305,(주)포스코건설
2,119219,개포래미안포레스트,서울시 강남구 개포동 1282,37.48,127.05,31,2296,120,249,21,3961,삼성물산(주)
3,140057,개포비버리하임(도시형),서울시 강남구 개포동 1193-5,37.47,127.05,2,29,0,199,57,30,(주)덕인컨스텍
4,107513,개포상지리츠빌,서울시 강남구 개포동 176-1,37.49,127.06,1,18,0,202,31,41,상지건영(주)

In [166]:
dtl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10725 entries, 0 to 10724
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트ID   10725 non-null  int64
 1   아파트명    10725 non-null  object
 2   지번주소    10725 non-null  object
 3   위도      10725 non-null  float64
 4   경도      10725 non-null  float64
 5   동수      10725 non-null  int64
 6   세대수     10725 non-null  int64
 7   임대수     10725 non-null  int64
 8   용적률     10725 non-null  int64
 9   건폐율     10725 non-null  int64
 10  주차대수    10725 non-null  int64
 11  건설사     10141 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 1005.6+ KB

In [167]:
dtl = dtl.rename(columns = {'아파트명': '단지명', '지번주소': '주소'})

In [168]:
apt['단지명'].nunique()

7057

In [171]:
len(set(apt['단지명']) & set(dtl['단지명']))

2736

In [172]:
len(set(apt['주소']) & set(dtl['주소']))

0

In [173]:
apt['주소'].head()

0      서울특별시 강남구 개포동 12
1    서울특별시 강남구 개포동 12-2
2     서울특별시 강남구 개포동 185
3    서울특별시 강남구 개포동 1281
4     서울특별시 강남구 개포동 185
Name: 주소, dtype: object

In [174]:
dtl['주소'].head()

0    서울시 강남구 개포동 1237-8
1     서울시 강남구 개포동 651-1
2      서울시 강남구 개포동 1282
3    서울시 강남구 개포동 1193-5
4     서울시 강남구 개포동 176-1
Name: 주소, dtype: object

In [175]:
apt['주소'] = apt['주소'].str.replace(pat = '특별', repl = '')

In [176]:
len(set(apt['주소']) & set(dtl['주소']))

7147

In [177]:
df4

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축연한
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,"4,210.90",32,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,"2,090.70",22,부족
195165,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,"2,536.07",19,부족
27958,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,"3,055.48",32,충족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,"4,252.20",8,부족

In [178]:
df4.duplicated()

31367     False
24636     False
195165    False
27958     False
55751     False
dtype: bool

In [179]:
df4.duplicated(subset = ['시군구'], keep = 'first')

31367     False
24636     False
195165     True
27958      True
55751     False
dtype: bool

In [182]:
df4.drop_duplicates(subset = ['시군구'], keep = 'first')

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축연한
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,"4,210.90",32,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,"2,090.70",22,부족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,"4,252.20",8,부족

In [183]:
dups = dtl.duplicated(subset = '주소', keep = False)
dtl.loc[dups, :]

,아파트ID,단지명,주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
9,1303,개포주공6단지,서울시 강남구 개포동 185,37.49,127.07,9,1060,0,0,0,300,대한주택공사
10,1307,개포주공7단지,서울시 강남구 개포동 185,37.49,127.07,8,900,0,0,0,400,대한주택공사
19,419,대청,서울시 강남구 개포동 12,37.50,127.08,6,822,0,201,15,700,삼익건설(주)
20,483,대치2단지,서울시 강남구 개포동 12,37.49,127.08,11,1758,0,0,0,1758,"진덕산업(주),성원건설(주)"
481,724,"현대6,7차",서울시 강남구 압구정동 456,37.53,127.03,15,1288,0,210,16,1120,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10222,141501,세운푸르지오헤리시티(주상복합),서울시 중구 인현동2가 240,37.56,127.00,1,321,40,937,60,182,(주)대우건설
10224,135725,힐스테이트세운센트럴1단지(도시형),서울시 중구 입정동 277,37.57,126.99,1,208,0,910,55,134,현대엔지니어링(주)
10225,148186,힐스테이트세운센트럴1단지(주상복합),서울시 중구 입정동 277,37.57,126.99,1,206,38,910,55,197,현대엔지니어링(주)
10226,135726,힐스테이트세운센트럴2단지(도시형),서울시 중구 입정동 280,37.57,126.99,1,279,0,938,0,205,현대엔지니어링(주)
10227,148187,힐스테이트세운센트럴2단지(주상복합),서울시 중구 입정동 280,37.57,126.99,1,329,61,937,61,282,현대엔지니어링(주)

In [184]:
dtl = dtl.drop_duplicates(subset = '주소')
dtl.shape

(10690, 12)

In [185]:
set(apt.columns) & set(dtl.columns)

{'단지명', '주소'}

In [190]:
cols = ['주소', '세대수', '용적률', '주차대수']

In [192]:
apt = pd.merge(left = apt, right = dtl[cols], how = 'inner', on = '주소')

In [193]:
apt.shape

(220890, 20)

In [194]:
apt = apt.drop(columns = ['주소', '계약일'])

In [195]:
apt.shape

(220890, 18)

In [196]:
apt.to_pickle('APT_Prep.pkl')

In [197]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Prep.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'NA_Sample.xlsx',
 'test.csv']

In [198]:
apt['층'].sort_values()

164688    -3
74987     -3
74749     -3
53686     -2
215961    -2
          ..
1234      67
210647    67
167916    68
210139    68
133835    68
Name: 층, Length: 220890, dtype: int64

In [199]:
apt['층'].sort_values(ascending = False)

133835    68
210139    68
167916    68
210647    67
1234      67
          ..
53593     -2
75151     -2
164688    -3
74987     -3
74749     -3
Name: 층, Length: 220890, dtype: int64

In [200]:
apt.sort_values(by = '층')

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,전용면적,층,평당금액,경과년수,재건축,계약일자,세대수,용적률,주차대수
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,101.49,-3,"3,576.71",13,부족,2023-07-29,472,136,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,134.51,-3,"2,551.48",10,부족,2020-07-23,472,136,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,134.51,-3,"2,011.75",10,부족,2020-03-20,472,136,855
53686,22.00,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020,7,107.99,-2,"6,722.84",4,부족,2020-07-30,1976,208,2456
215961,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,240.23,-2,"16,484.20",13,부족,2024-04-10,600,120,1732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,235.74,67,"7,594.17",16,부족,2020-07-25,480,791,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,138.20,67,"7,163.53",21,부족,2024-10-14,466,817,1192
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,185.62,68,"9,777.94",20,부족,2024-07-30,480,791,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,167.44,68,"7,489.25",21,부족,2024-04-11,466,817,1192
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,185.62,68,"9,777.94",19,부족,2023-12-22,480,791,1785

In [201]:
apt.sort_values(by = '층', ascending = False)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,전용면적,층,평당금액,경과년수,재건축,계약일자,세대수,용적률,주차대수
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,185.62,68,"9,777.94",19,부족,2023-12-22,480,791,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,167.44,68,"7,489.25",21,부족,2024-04-11,466,817,1192
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,185.62,68,"9,777.94",20,부족,2024-07-30,480,791,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,138.20,67,"7,163.53",21,부족,2024-10-14,466,817,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,235.74,67,"7,594.17",16,부족,2020-07-25,480,791,1785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53593,16.75,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020,6,76.66,-2,"7,210.41",4,부족,2020-06-30,1976,208,2456
75151,9.47,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,101.99,-2,"3,064.12",10,부족,2020-07-01,472,136,855
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,101.49,-3,"3,576.71",13,부족,2023-07-29,472,136,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,134.51,-3,"2,551.48",10,부족,2020-07-23,472,136,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,134.51,-3,"2,011.75",10,부족,2020-03-20,472,136,855

In [202]:
apt.sort_values(by = ['층', '거래금액'], ascending = False)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,전용면적,층,평당금액,경과년수,재건축,계약일자,세대수,용적률,주차대수
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,185.62,68,"9,777.94",19,부족,2023-12-22,480,791,1785
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,185.62,68,"9,777.94",20,부족,2024-07-30,480,791,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,167.44,68,"7,489.25",21,부족,2024-04-11,466,817,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,235.74,67,"7,594.17",16,부족,2020-07-25,480,791,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,138.20,67,"7,163.53",21,부족,2024-10-14,466,817,1192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75151,9.47,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,101.99,-2,"3,064.12",10,부족,2020-07-01,472,136,855
23719,6.77,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020,7,84.78,-2,"2,635.17",6,부족,2020-07-02,1018,192,1364
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,101.49,-3,"3,576.71",13,부족,2023-07-29,472,136,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,134.51,-3,"2,551.48",10,부족,2020-07-23,472,136,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,134.51,-3,"2,011.75",10,부족,2020-03-20,472,136,855

In [203]:
apt.sort_values(by = ['층', '거래금액'], ascending = [False, True])

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,전용면적,층,평당금액,경과년수,재건축,계약일자,세대수,용적률,주차대수
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,167.44,68,"7,489.25",21,부족,2024-04-11,466,817,1192
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,185.62,68,"9,777.94",19,부족,2023-12-22,480,791,1785
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,185.62,68,"9,777.94",20,부족,2024-07-30,480,791,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,138.20,67,"7,163.53",21,부족,2024-10-14,466,817,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,235.74,67,"7,594.17",16,부족,2020-07-25,480,791,1785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215961,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,240.23,-2,"16,484.20",13,부족,2024-04-10,600,120,1732
215963,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,240.23,-2,"16,484.20",13,부족,2024-04-10,600,120,1732
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,134.51,-3,"2,011.75",10,부족,2020-03-20,472,136,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,134.51,-3,"2,551.48",10,부족,2020-07-23,472,136,855
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,101.49,-3,"3,576.71",13,부족,2023-07-29,472,136,855

In [204]:
apt['거래금액'].count()

np.int64(220890)

In [205]:
apt['거래금액'].sum()

np.float64(2233577.912)

In [206]:
apt['거래금액'].mean()

np.float64(10.111720367603784)

In [207]:
apt['거래금액'].std()

np.float64(7.461395885878631)

In [208]:
apt['거래금액'].min()

np.float64(0.62)

In [209]:
apt['거래금액'].max()

np.float64(220.0)

In [212]:
apt.groupby(by = '시군구')['거래금액'].count().sort_values(ascending = False)

시군구
노원구     19204
송파구     14186
강서구     13610
강남구     12291
성북구     11995
강동구     11958
구로구     10966
영등포구    10486
서초구      9963
성동구      9228
동대문구     9181
은평구      9064
양천구      9032
마포구      8888
동작구      8325
도봉구      8323
서대문구     7958
중랑구      7094
관악구      6911
강북구      4875
광진구      4176
용산구      4023
금천구      3976
중구       3119
종로구      2058
Name: 거래금액, dtype: int64

In [213]:
apt.groupby(by = '시군구')['거래금액'].mean().sort_values(ascending = False)

시군구
서초구    20.95
강남구    20.86
용산구    18.85
송파구    15.09
성동구    13.16
광진구    11.73
마포구    11.53
동작구    10.68
양천구    10.34
영등포구   10.17
중구      9.66
종로구     9.58
강동구     9.41
서대문구    8.55
성북구     7.56
동대문구    7.49
강서구     7.41
은평구     6.95
관악구     6.70
구로구     6.31
강북구     5.88
노원구     5.88
중랑구     5.77
금천구     5.63
도봉구     5.13
Name: 거래금액, dtype: float64

In [214]:
apt.groupby(by = '시군구')['거래금액'].std().sort_values(ascending = False)

시군구
용산구    14.51
강남구    12.25
서초구    11.87
성동구     7.10
송파구     6.67
영등포구    6.25
종로구     6.03
양천구     5.77
광진구     5.20
중구      4.94
마포구     4.52
강동구     4.22
동작구     3.83
서대문구    3.44
동대문구    3.17
강서구     3.15
구로구     2.76
은평구     2.75
관악구     2.53
금천구     2.53
중랑구     2.45
성북구     2.33
노원구     2.23
강북구     2.09
도봉구     2.04
Name: 거래금액, dtype: float64

In [215]:
apt.groupby(by = '시군구')['거래금액'].min().sort_values(ascending = False)

시군구
강남구    1.40
서초구    1.40
성동구    1.20
용산구    1.20
양천구    1.15
마포구    1.14
송파구    1.10
서대문구   1.10
성북구    0.98
중구     0.93
동작구    0.91
금천구    0.80
관악구    0.80
은평구    0.78
강동구    0.78
중랑구    0.77
강북구    0.75
종로구    0.75
광진구    0.75
강서구    0.74
도봉구    0.70
동대문구   0.70
노원구    0.68
영등포구   0.67
구로구    0.62
Name: 거래금액, dtype: float64

In [216]:
apt.groupby(by = '시군구')['거래금액'].max().sort_values(ascending = False)

시군구
용산구    220.00
서초구    180.00
성동구    145.00
강남구    145.00
중구      59.00
영등포구    55.50
송파구     53.00
마포구     51.00
동작구     43.00
광진구     42.00
종로구     40.80
강동구     40.00
양천구     39.30
서대문구    24.00
중랑구     22.00
구로구     21.75
성북구     21.00
은평구     20.75
강서구     20.50
동대문구    18.30
노원구     18.00
관악구     16.50
도봉구     16.30
강북구     14.95
금천구     14.75
Name: 거래금액, dtype: float64

In [217]:
cond = apt['시군구'].eq('강남구')
apt.loc[cond].groupby(by = '법정동')['거래금액'].mean().sort_values(ascending = False)

법정동
압구정동   37.77
대치동    25.81
도곡동    24.63
청담동    23.73
삼성동    20.32
개포동    20.00
일원동    19.55
역삼동    15.80
자곡동    13.82
수서동    13.21
세곡동    13.11
논현동    13.02
율현동    12.32
신사동    11.06
Name: 거래금액, dtype: float64

In [218]:
cond = apt['시군구'].eq('강남구')
apt.loc[cond].groupby(by = '법정동')['거래금액'].min().sort_values(ascending = False)

법정동
압구정동   17.05
세곡동     9.75
율현동     7.40
일원동     6.90
수서동     5.50
개포동     5.00
자곡동     4.15
삼성동     3.00
도곡동     2.38
신사동     2.31
대치동     1.90
청담동     1.80
논현동     1.42
역삼동     1.40
Name: 거래금액, dtype: float64

In [219]:
cond = apt['시군구'].eq('강남구')
apt.loc[cond].groupby(by = '법정동')['거래금액'].max().sort_values(ascending = False)

법정동
청담동    145.00
압구정동   115.00
도곡동     99.00
삼성동     90.00
신사동     60.50
개포동     59.50
대치동     57.50
논현동     56.00
역삼동     51.50
일원동     45.50
수서동     40.00
자곡동     22.50
세곡동     18.50
율현동     17.25
Name: 거래금액, dtype: float64

In [220]:
apt['거래금액'].agg(func = ['mean', 'std'])

mean   10.11
std     7.46
Name: 거래금액, dtype: float64

In [221]:
apt.groupby(by = '재건축')['거래금액'].agg(func = ['mean', 'std'])

     mean  std
재건축
부족   9.91 7.11
충족  11.11 8.90

In [222]:
cols = ['시군구', '재건축']
apt.groupby(by = cols)['거래금액'].agg(func = ['mean', 'std'])

          mean   std
시군구  재건축
강남구  부족  19.13 11.79
     충족  25.10 12.34
강동구  부족   9.29  4.30
     충족  10.45  3.29
강북구  부족   5.93  2.13
     충족   5.22  1.31
강서구  부족   7.52  3.21
     충족   6.20  2.07
관악구  부족   6.78  2.56
     충족   5.57  1.92
광진구  부족  11.29  5.16
     충족  13.47  4.99
구로구  부족   6.44  2.85
     충족   5.48  1.91
금천구  부족   5.79  2.58
     충족   4.55  1.79
노원구  부족   6.18  2.40
     충족   5.49  1.92
도봉구  부족   5.51  2.19
     충족   4.48  1.56
동대문구 부족   7.57  3.24
     충족   6.29  1.41
동작구  부족  10.61  3.83
     충족  11.24  3.73
마포구  부족  11.68  4.64
     충족   9.88  2.19
서대문구 부족   8.84  3.41
     충족   5.78  2.19
서초구  부족  20.61 12.69
     충족  22.50  6.76
성동구  부족  13.28  7.30
     충족  12.07  4.94
성북구  부족   7.63  2.29
     충족   4.31  1.81
송파구  부족  14.28  6.23
     충족  17.38  7.31
양천구  부족   8.91  5.08
     충족  13.79  5.88
영등포구 부족   9.65  5.65
     충족  12.43  7.98
용산구  부족  19.25 15.46
     충족  17.07  9.00
은평구  부족   7.06  2.78
     충족   5.39  1.77
종로구  부족   9.85  6.11
     충족   5.53  2.02
중구   부족  10.01  4.89
     충족   4.97  2.72
중랑구  부족   5.92  2.49
     충족   4.37  1.42

In [228]:
pd.pivot_table(data = apt, index = '시군구', columns = '재건축', values = '거래금액', 
               aggfunc = ['mean', 'std'], margins = True, margins_name = '합계').to_excel('pivot.xlsx')

In [229]:
apt['시군구'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [230]:
apt['시군구'].nunique()

25

In [ ]:
apt.groupby(by = '시군구')['거래금액'].count().sort_values(ascending = False)

In [231]:
apt['시군구'].value_counts()

시군구
노원구     19204
송파구     14186
강서구     13610
강남구     12291
성북구     11995
강동구     11958
구로구     10966
영등포구    10486
서초구      9963
성동구      9228
동대문구     9181
은평구      9064
양천구      9032
마포구      8888
동작구      8325
도봉구      8323
서대문구     7958
중랑구      7094
관악구      6911
강북구      4875
광진구      4176
용산구      4023
금천구      3976
중구       3119
종로구      2058
Name: count, dtype: int64

In [232]:
apt['시군구'].value_counts().sort_index()

시군구
강남구     12291
강동구     11958
강북구      4875
강서구     13610
관악구      6911
광진구      4176
구로구     10966
금천구      3976
노원구     19204
도봉구      8323
동대문구     9181
동작구      8325
마포구      8888
서대문구     7958
서초구      9963
성동구      9228
성북구     11995
송파구     14186
양천구      9032
영등포구    10486
용산구      4023
은평구      9064
종로구      2058
중구       3119
중랑구      7094
Name: count, dtype: int64

In [233]:
apt['시군구'].value_counts(normalize = True)

시군구
노원구    0.09
송파구    0.06
강서구    0.06
강남구    0.06
성북구    0.05
강동구    0.05
구로구    0.05
영등포구   0.05
서초구    0.05
성동구    0.04
동대문구   0.04
은평구    0.04
양천구    0.04
마포구    0.04
동작구    0.04
도봉구    0.04
서대문구   0.04
중랑구    0.03
관악구    0.03
강북구    0.02
광진구    0.02
용산구    0.02
금천구    0.02
중구     0.01
종로구    0.01
Name: proportion, dtype: float64

In [234]:
apt[cols].value_counts()

시군구   재건축
강서구   부족     12413
성북구   부족     11741
노원구   부족     10747
강동구   부족     10725
송파구   부족     10512
구로구   부족      9496
강남구   부족      8740
동대문구  부족      8664
영등포구  부족      8533
은평구   부족      8473
노원구   충족      8457
성동구   부족      8267
서초구   부족      8176
마포구   부족      8163
동작구   부족      7342
서대문구  부족      7200
관악구   부족      6413
중랑구   부족      6397
양천구   부족      6387
도봉구   부족      5226
강북구   부족      4536
송파구   충족      3674
강남구   충족      3551
금천구   부족      3460
광진구   부족      3330
용산구   부족      3280
도봉구   충족      3097
중구    부족      2906
양천구   충족      2645
영등포구  충족      1953
종로구   부족      1929
서초구   충족      1787
구로구   충족      1470
강동구   충족      1233
강서구   충족      1197
동작구   충족       983
성동구   충족       961
광진구   충족       846
서대문구  충족       758
용산구   충족       743
마포구   충족       725
중랑구   충족       697
은평구   충족       591
동대문구  충족       517
금천구   충족       516
관악구   충족       498
강북구   충족       339
성북구   충족       254
중구    충족       213
종로구   충족       129
Name: count, dtype: int64

In [235]:
apt[cols].value_counts().sort_index()

시군구   재건축
강남구   부족      8740
      충족      3551
강동구   부족     10725
      충족      1233
강북구   부족      4536
      충족       339
강서구   부족     12413
      충족      1197
관악구   부족      6413
      충족       498
광진구   부족      3330
      충족       846
구로구   부족      9496
      충족      1470
금천구   부족      3460
      충족       516
노원구   부족     10747
      충족      8457
도봉구   부족      5226
      충족      3097
동대문구  부족      8664
      충족       517
동작구   부족      7342
      충족       983
마포구   부족      8163
      충족       725
서대문구  부족      7200
      충족       758
서초구   부족      8176
      충족      1787
성동구   부족      8267
      충족       961
성북구   부족     11741
      충족       254
송파구   부족     10512
      충족      3674
양천구   부족      6387
      충족      2645
영등포구  부족      8533
      충족      1953
용산구   부족      3280
      충족       743
은평구   부족      8473
      충족       591
종로구   부족      1929
      충족       129
중구    부족      2906
      충족       213
중랑구   부족      6397
      충족       697
Name: count, dtype: int64

In [237]:
apt[cols].value_counts().sort_index().reset_index()

     시군구 재건축  count
0    강남구  부족   8740
1    강남구  충족   3551
2    강동구  부족  10725
3    강동구  충족   1233
4    강북구  부족   4536
5    강북구  충족    339
6    강서구  부족  12413
7    강서구  충족   1197
8    관악구  부족   6413
9    관악구  충족    498
10   광진구  부족   3330
11   광진구  충족    846
12   구로구  부족   9496
13   구로구  충족   1470
14   금천구  부족   3460
15   금천구  충족    516
16   노원구  부족  10747
17   노원구  충족   8457
18   도봉구  부족   5226
19   도봉구  충족   3097
20  동대문구  부족   8664
21  동대문구  충족    517
22   동작구  부족   7342
23   동작구  충족    983
24   마포구  부족   8163
25   마포구  충족    725
26  서대문구  부족   7200
27  서대문구  충족    758
28   서초구  부족   8176
29   서초구  충족   1787
30   성동구  부족   8267
31   성동구  충족    961
32   성북구  부족  11741
33   성북구  충족    254
34   송파구  부족  10512
35   송파구  충족   3674
36   양천구  부족   6387
37   양천구  충족   2645
38  영등포구  부족   8533
39  영등포구  충족   1953
40   용산구  부족   3280
41   용산구  충족    743
42   은평구  부족   8473
43   은평구  충족    591
44   종로구  부족   1929
45   종로구  충족    129
46    중구  부족   2906
47    중구  충족    213
48   중랑구  부족   6397
49   중랑구  충족    697

In [242]:
pd.crosstab(index = apt['시군구'], columns = apt['재건축'], normalize = 'index', 
            margins = True, margins_name = '합계')

재건축    부족   충족
시군구
강남구  0.71 0.29
강동구  0.90 0.10
강북구  0.93 0.07
강서구  0.91 0.09
관악구  0.93 0.07
광진구  0.80 0.20
구로구  0.87 0.13
금천구  0.87 0.13
노원구  0.56 0.44
도봉구  0.63 0.37
동대문구 0.94 0.06
동작구  0.88 0.12
마포구  0.92 0.08
서대문구 0.90 0.10
서초구  0.82 0.18
성동구  0.90 0.10
성북구  0.98 0.02
송파구  0.74 0.26
양천구  0.71 0.29
영등포구 0.81 0.19
용산구  0.82 0.18
은평구  0.93 0.07
종로구  0.94 0.06
중구   0.93 0.07
중랑구  0.90 0.10
합계   0.83 0.17

In [243]:
apt.describe()

,거래금액,입주년도,전용면적,층,평당금액,경과년수,계약일자,세대수,용적률,주차대수
count,"220,890.00","220,890.00","220,890.00","220,890.00","220,890.00","220,890.00",220890,"220,890.00","220,890.00","220,890.00"
mean,10.11,"2,002.32",75.47,9.53,"4,358.43",19.41,2022-03-18 12:12:02.053511168,"1,065.67",283.86,"1,175.28"
min,0.62,"1,961.00",10.78,-3.00,564.01,-2.00,2020-01-01 00:00:00,1.00,0.00,0.00
25%,5.70,"1,996.00",59.64,5.00,"2,842.34",12.00,2020-08-11 00:00:00,259.00,219.00,241.00
50%,8.30,"2,002.00",79.20,9.00,"3,785.74",20.00,2021-08-07 00:00:00,668.00,252.00,654.00
75%,12.40,"2,010.00",84.96,13.00,"5,244.26",26.00,2023-12-18 00:00:00,"1,372.00",302.00,"1,401.00"
max,220.00,"2,024.00",317.36,68.00,"26,553.28",60.00,2024-12-31 00:00:00,"9,510.00","1,249.00","12,602.00"
std,7.46,10.40,30.57,6.37,"2,219.46",10.34,NaN,"1,253.13",145.56,"1,614.55"

In [244]:
apt.describe(include = [int, float])

,거래금액,입주년도,전용면적,층,평당금액,경과년수,세대수,용적률,주차대수
count,"220,890.00","220,890.00","220,890.00","220,890.00","220,890.00","220,890.00","220,890.00","220,890.00","220,890.00"
mean,10.11,"2,002.32",75.47,9.53,"4,358.43",19.41,"1,065.67",283.86,"1,175.28"
std,7.46,10.40,30.57,6.37,"2,219.46",10.34,"1,253.13",145.56,"1,614.55"
min,0.62,"1,961.00",10.78,-3.00,564.01,-2.00,1.00,0.00,0.00
25%,5.70,"1,996.00",59.64,5.00,"2,842.34",12.00,259.00,219.00,241.00
50%,8.30,"2,002.00",79.20,9.00,"3,785.74",20.00,668.00,252.00,654.00
75%,12.40,"2,010.00",84.96,13.00,"5,244.26",26.00,"1,372.00",302.00,"1,401.00"
max,220.00,"2,024.00",317.36,68.00,"26,553.28",60.00,"9,510.00","1,249.00","12,602.00"

In [245]:
apt.describe(include = [object])

           단지명     시도명     시군구     법정동      지번    계약년도     계약월     재건축
count   220890  220890  220890  220890  220890  220890  220890  220890
unique    6191       1      25     332    5131       5      12       2
top         현대   서울특별시     노원구     상계동    1013    2020       6      부족
freq      1928  220890   19204    7130    1111   79773   31855  183056

In [246]:
apt.describe(include = 'datetime')

                                계약일자
count                         220890
mean   2022-03-18 12:12:02.053511168
min              2020-01-01 00:00:00
25%              2020-08-11 00:00:00
50%              2021-08-07 00:00:00
75%              2023-12-18 00:00:00
max              2024-12-31 00:00:00

In [247]:
elong = apt[cols].value_counts().sort_index()
elong.head(n = 10)

시군구  재건축
강남구  부족      8740
     충족      3551
강동구  부족     10725
     충족      1233
강북구  부족      4536
     충족       339
강서구  부족     12413
     충족      1197
관악구  부족      6413
     충족       498
Name: count, dtype: int64

In [248]:
elong = elong.reset_index()
elong.head()

   시군구 재건축  count
0  강남구  부족   8740
1  강남구  충족   3551
2  강동구  부족  10725
3  강동구  충족   1233
4  강북구  부족   4536

In [250]:
widen = elong.pivot(index = '시군구', columns = '재건축', values = 'count')
widen.head()

재건축     부족    충족
시군구
강남구   8740  3551
강동구  10725  1233
강북구   4536   339
강서구  12413  1197
관악구   6413   498

In [251]:
widen.index

Index(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype='object', name='시군구')

In [252]:
widen.columns

Index(['부족', '충족'], dtype='object', name='재건축')

In [253]:
widen = widen.reset_index()
widen.head()

재건축  시군구     부족    충족
0    강남구   8740  3551
1    강동구  10725  1233
2    강북구   4536   339
3    강서구  12413  1197
4    관악구   6413   498

In [255]:
widen.columns.name = None

In [256]:
widen.head()

   시군구     부족    충족
0  강남구   8740  3551
1  강동구  10725  1233
2  강북구   4536   339
3  강서구  12413  1197
4  관악구   6413   498

In [258]:
widen.melt(id_vars = '시군구', value_vars = ['부족', '충족'], 
           var_name = '재건축연한', value_name = '매매건수')

     시군구 재건축연한   매매건수
0    강남구    부족   8740
1    강동구    부족  10725
2    강북구    부족   4536
3    강서구    부족  12413
4    관악구    부족   6413
5    광진구    부족   3330
6    구로구    부족   9496
7    금천구    부족   3460
8    노원구    부족  10747
9    도봉구    부족   5226
10  동대문구    부족   8664
11   동작구    부족   7342
12   마포구    부족   8163
13  서대문구    부족   7200
14   서초구    부족   8176
15   성동구    부족   8267
16   성북구    부족  11741
17   송파구    부족  10512
18   양천구    부족   6387
19  영등포구    부족   8533
20   용산구    부족   3280
21   은평구    부족   8473
22   종로구    부족   1929
23    중구    부족   2906
24   중랑구    부족   6397
25   강남구    충족   3551
26   강동구    충족   1233
27   강북구    충족    339
28   강서구    충족   1197
29   관악구    충족    498
30   광진구    충족    846
31   구로구    충족   1470
32   금천구    충족    516
33   노원구    충족   8457
34   도봉구    충족   3097
35  동대문구    충족    517
36   동작구    충족    983
37   마포구    충족    725
38  서대문구    충족    758
39   서초구    충족   1787
40   성동구    충족    961
41   성북구    충족    254
42   송파구    충족   3674
43   양천구    충족   2645
44  영등포구    충족   1953
45   용산구    충족    743
46   은평구    충족    591
47   종로구    충족    129
48    중구    충족    213
49   중랑구    충족    697