!pip install xmltodict

In [1]:
import requests
import xmltodict
import pandas as pd

In [16]:
def apt_price(areaCd, ymonth, page = 1, rows = 9999):
    url = 'http://apis.data.go.kr/1613000/RTMSDataSvcAptTrade/getRTMSDataSvcAptTrade'
    query = {
        'LAWD_CD': areaCd, 
        'DEAL_YMD': ymonth, 
        'serviceKey': '4zNXftfpIAhhRRJLlpBmH8qMqYRZBgNxXWDoHow+WR1Di3VuLplaDdiTX/X3pooreCQBuT4dtCX1ENw8EX4x/Q==',
        'pageNo': page, 
        'numOfRows': rows
    }
    res = requests.get(url = url, params = query)
    dat = xmltodict.parse(xml_input = res.text)
    df = pd.DataFrame(data = dat['response']['body']['items']['item'])
    return df

In [17]:
df = apt_price(areaCd = '11680', ymonth = '202504')

In [18]:
df.shape

(73, 20)

!pip install tqdm

In [20]:
from tqdm.notebook import tqdm

In [21]:
dfs = pd.DataFrame()
for i in tqdm(range(202401, 202413)):
    df = apt_price(areaCd = '11680', ymonth = str(i))
    dfs = pd.concat(objs = [dfs, df], ignore_index = True)

  0%|          | 0/12 [00:00<?, ?it/s]

In [22]:
dfs.shape

(3690, 20)

In [24]:
import os

In [25]:
os.getcwd()

'C:\\Users\\USER\\Documents\\project\\code'

In [26]:
os.chdir(path = '../data')

In [27]:
dfs.to_excel('APT_Price_Gangnam_2024.xlsx', index = False)

In [31]:
dfs.columns = ['아파트_동명', '단지명', '건축년도', '매수자', '해제사유발생일', '해제여부', '거래금액', 
               '계약일', '계약월', '계약년도', '거래유형', '중개사소재지', '전용면적', '층', '지번', 
               '토지임대부아파트', '등기일자', '지역코드', '매도자', '법정동']

In [32]:
dfs.head()

,아파트_동명,단지명,건축년도,매수자,해제사유발생일,해제여부,거래금액,계약일,계약월,계약년도,거래유형,중개사소재지,전용면적,층,지번,토지임대부아파트,등기일자,지역코드,매도자,법정동
0,None,강남데시앙파크,2011,개인,24.04.25,O,"110,000",31,1,2024,중개거래,서울 강남구,84.95,2,525,N,None,11680,개인,세곡동
1,5,"쌍용대치아파트1동,2동,3동,5동,6동",1983,개인,None,None,"308,000",23,1,2024,중개거래,서울 강남구,128.03,4,66,N,24.04.05,11680,개인,대치동
2,120,수서,1992,개인,None,None,"92,000",30,1,2024,중개거래,서울 강남구,50.82,9,711,N,24.03.28,11680,개인,일원동
3,111,래미안 개포 루체하임,2018,개인,None,None,"185,000",23,1,2024,중개거래,"서울 강남구, 서울 송파구",59.99,9,741,N,24.03.20,11680,법인,일원동
4,303,디에이치아너힐즈,2019,개인,None,None,"219,000",30,1,2024,중개거래,서울 강남구,59.8732,17,1281,N,24.04.30,11680,개인,개포동

In [33]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3690 entries, 0 to 3689
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   아파트_동명    3211 non-null   object
 1   단지명       3690 non-null   object
 2   건축년도      3690 non-null   object
 3   매수자       3690 non-null   object
 4   해제사유발생일   158 non-null    object
 5   해제여부      158 non-null    object
 6   거래금액      3690 non-null   object
 7   계약일       3690 non-null   object
 8   계약월       3690 non-null   object
 9   계약년도      3690 non-null   object
 10  거래유형      3690 non-null   object
 11  중개사소재지    3540 non-null   object
 12  전용면적      3690 non-null   object
 13  층         3690 non-null   object
 14  지번        3690 non-null   object
 15  토지임대부아파트  3690 non-null   object
 16  등기일자      3451 non-null   object
 17  지역코드      3690 non-null   object
 18  매도자       3690 non-null   object
 19  법정동       3690 non-null   object
dtypes: object(20)
memory usage: 576.7+ KB

In [35]:
dfs.isna().mean() * 100

아파트_동명      12.981030
단지명          0.000000
건축년도         0.000000
매수자          0.000000
해제사유발생일     95.718157
해제여부        95.718157
거래금액         0.000000
계약일          0.000000
계약월          0.000000
계약년도         0.000000
거래유형         0.000000
중개사소재지       4.065041
전용면적         0.000000
층            0.000000
지번           0.000000
토지임대부아파트     0.000000
등기일자         6.476965
지역코드         0.000000
매도자          0.000000
법정동          0.000000
dtype: float64

In [36]:
dfs['아파트_동명'] = dfs['아파트_동명'].fillna(value = '모름')

In [37]:
dfs['등기일자'] = pd.to_datetime(arg = dfs['등기일자'], format = '%y.%m.%d')

In [39]:
dfs['등기일자'] = dfs['등기일자'].fillna(value = '1900-01-01')

In [40]:
dfs.head()

,아파트_동명,단지명,건축년도,매수자,해제사유발생일,해제여부,거래금액,계약일,계약월,계약년도,거래유형,중개사소재지,전용면적,층,지번,토지임대부아파트,등기일자,지역코드,매도자,법정동
0,모름,강남데시앙파크,2011,개인,24.04.25,O,"110,000",31,1,2024,중개거래,서울 강남구,84.95,2,525,N,1900-01-01,11680,개인,세곡동
1,5,"쌍용대치아파트1동,2동,3동,5동,6동",1983,개인,None,None,"308,000",23,1,2024,중개거래,서울 강남구,128.03,4,66,N,2024-04-05,11680,개인,대치동
2,120,수서,1992,개인,None,None,"92,000",30,1,2024,중개거래,서울 강남구,50.82,9,711,N,2024-03-28,11680,개인,일원동
3,111,래미안 개포 루체하임,2018,개인,None,None,"185,000",23,1,2024,중개거래,"서울 강남구, 서울 송파구",59.99,9,741,N,2024-03-20,11680,법인,일원동
4,303,디에이치아너힐즈,2019,개인,None,None,"219,000",30,1,2024,중개거래,서울 강남구,59.8732,17,1281,N,2024-04-30,11680,개인,개포동

'19' + dfs['등기일자'].dt.strftime(date_format = '%y.%m.%d')

In [43]:
dfs.isna().mean() * 100

아파트_동명       0.000000
단지명          0.000000
건축년도         0.000000
매수자          0.000000
해제사유발생일     95.718157
해제여부        95.718157
거래금액         0.000000
계약일          0.000000
계약월          0.000000
계약년도         0.000000
거래유형         0.000000
중개사소재지       4.065041
전용면적         0.000000
층            0.000000
지번           0.000000
토지임대부아파트     0.000000
등기일자         0.000000
지역코드         0.000000
매도자          0.000000
법정동          0.000000
dtype: float64

In [44]:
dfs = dfs.dropna(axis = 1)

In [45]:
dfs.shape

(3690, 17)

In [46]:
dfs.dtypes

아파트_동명              object
단지명                 object
건축년도                object
매수자                 object
거래금액                object
계약일                 object
계약월                 object
계약년도                object
거래유형                object
전용면적                object
층                   object
지번                  object
토지임대부아파트            object
등기일자        datetime64[ns]
지역코드                object
매도자                 object
법정동                 object
dtype: object

In [50]:
dfs['거래금액'] = dfs['거래금액'].str.replace(pat = ',', repl = '').astype(int)

In [51]:
dfs.dtypes

아파트_동명              object
단지명                 object
건축년도                object
매수자                 object
거래금액                 int64
계약일                 object
계약월                 object
계약년도                object
거래유형                object
전용면적                object
층                   object
지번                  object
토지임대부아파트            object
등기일자        datetime64[ns]
지역코드                object
매도자                 object
법정동                 object
dtype: object

In [52]:
dfs.columns

Index(['아파트_동명', '단지명', '건축년도', '매수자', '거래금액', '계약일', '계약월', '계약년도', '거래유형',
       '전용면적', '층', '지번', '토지임대부아파트', '등기일자', '지역코드', '매도자', '법정동'],
      dtype='object')

In [53]:
cols = ['아파트_동명', '단지명', '건축년도', '매수자', '거래금액', '계약년도', '계약월', '계약일', '거래유형',
        '전용면적', '층', '지번', '토지임대부아파트', '등기일자', '지역코드', '매도자', '법정동']
dfs = dfs.loc[:, cols]
dfs.head()

,아파트_동명,단지명,건축년도,매수자,거래금액,계약년도,계약월,계약일,거래유형,전용면적,층,지번,토지임대부아파트,등기일자,지역코드,매도자,법정동
0,모름,강남데시앙파크,2011,개인,110000,2024,1,31,중개거래,84.95,2,525,N,1900-01-01,11680,개인,세곡동
1,5,"쌍용대치아파트1동,2동,3동,5동,6동",1983,개인,308000,2024,1,23,중개거래,128.03,4,66,N,2024-04-05,11680,개인,대치동
2,120,수서,1992,개인,92000,2024,1,30,중개거래,50.82,9,711,N,2024-03-28,11680,개인,일원동
3,111,래미안 개포 루체하임,2018,개인,185000,2024,1,23,중개거래,59.99,9,741,N,2024-03-20,11680,법인,일원동
4,303,디에이치아너힐즈,2019,개인,219000,2024,1,30,중개거래,59.8732,17,1281,N,2024-04-30,11680,개인,개포동

In [54]:
str_join = lambda x: '-'.join(x)

def str_join(x):
    return '-'.join(x)

In [55]:
cols = ['계약년도', '계약월', '계약일']
dfs['계약일자'] = dfs[cols].apply(func = str_join, axis = 1)
dfs.head()

,아파트_동명,단지명,건축년도,매수자,거래금액,계약년도,계약월,계약일,거래유형,전용면적,층,지번,토지임대부아파트,등기일자,지역코드,매도자,법정동,계약일자
0,모름,강남데시앙파크,2011,개인,110000,2024,1,31,중개거래,84.95,2,525,N,1900-01-01,11680,개인,세곡동,2024-1-31
1,5,"쌍용대치아파트1동,2동,3동,5동,6동",1983,개인,308000,2024,1,23,중개거래,128.03,4,66,N,2024-04-05,11680,개인,대치동,2024-1-23
2,120,수서,1992,개인,92000,2024,1,30,중개거래,50.82,9,711,N,2024-03-28,11680,개인,일원동,2024-1-30
3,111,래미안 개포 루체하임,2018,개인,185000,2024,1,23,중개거래,59.99,9,741,N,2024-03-20,11680,법인,일원동,2024-1-23
4,303,디에이치아너힐즈,2019,개인,219000,2024,1,30,중개거래,59.8732,17,1281,N,2024-04-30,11680,개인,개포동,2024-1-30

In [56]:
dfs['계약일자'] = dfs['계약일자'].astype('datetime64[ns]')

In [57]:
dfs.dtypes

아파트_동명              object
단지명                 object
건축년도                object
매수자                 object
거래금액                 int64
계약년도                object
계약월                 object
계약일                 object
거래유형                object
전용면적                object
층                   object
지번                  object
토지임대부아파트            object
등기일자        datetime64[ns]
지역코드                object
매도자                 object
법정동                 object
계약일자        datetime64[ns]
dtype: object

In [58]:
dfs = dfs.astype(dtype = {'전용면적': float, '층': int})

In [59]:
dfs.dtypes

아파트_동명              object
단지명                 object
건축년도                object
매수자                 object
거래금액                 int64
계약년도                object
계약월                 object
계약일                 object
거래유형                object
전용면적               float64
층                    int64
지번                  object
토지임대부아파트            object
등기일자        datetime64[ns]
지역코드                object
매도자                 object
법정동                 object
계약일자        datetime64[ns]
dtype: object

In [61]:
dfs['거래금액'] = dfs['거래금액'] / 10000

In [62]:
dfs['거래금액'].mean()

np.float64(24.91973035230352)

In [63]:
dfs['거래금액'].std()

np.float64(14.053936459597313)

In [64]:
dfs['거래금액'].min()

np.float64(1.5)

In [65]:
dfs['거래금액'].max()

np.float64(138.0)

In [67]:
dfs.groupby(by = '법정동')['거래금액'].mean().sort_values(ascending = False)

법정동
압구정동    49.993127
대치동     31.589817
도곡동     26.763049
청담동     25.642473
삼성동     24.343713
개포동     21.899232
일원동     21.360799
역삼동     19.661564
논현동     17.168860
신사동     16.159000
자곡동     13.871447
수서동     13.755391
세곡동     12.949301
율현동     11.110000
Name: 거래금액, dtype: float64

In [68]:
dfs.groupby(by = '법정동')['거래금액'].std().sort_values(ascending = False)

법정동
청담동     17.405267
압구정동    15.468048
삼성동     13.037424
도곡동     12.036395
대치동     10.687201
논현동     10.585526
역삼동      9.147716
개포동      7.827281
일원동      6.601945
신사동      5.173260
수서동      4.583758
자곡동      3.290794
세곡동      1.527259
율현동      0.679379
Name: 거래금액, dtype: float64

In [69]:
dfs.groupby(by = '법정동')['거래금액'].min().sort_values(ascending = False)

법정동
압구정동    20.80
율현동     10.35
세곡동     10.00
자곡동      8.50
신사동      8.50
개포동      7.40
일원동      6.90
수서동      5.50
삼성동      3.18
도곡동      2.57
청담동      2.27
대치동      2.10
논현동      1.94
역삼동      1.50
Name: 거래금액, dtype: float64

In [70]:
dfs.groupby(by = '법정동')['거래금액'].max().sort_values(ascending = False)

법정동
청담동     138.0
압구정동    115.0
삼성동      90.0
도곡동      79.0
논현동      72.0
개포동      59.5
대치동      57.5
역삼동      51.5
일원동      45.5
수서동      34.0
신사동      27.0
자곡동      21.3
세곡동      16.0
율현동      12.2
Name: 거래금액, dtype: float64

In [74]:
dfs.groupby(by = '법정동').first().sort_values(by = ['거래금액'], ascending = False)

,아파트_동명,단지명,건축년도,매수자,거래금액,계약년도,계약월,계약일,거래유형,전용면적,층,지번,토지임대부아파트,등기일자,지역코드,매도자,계약일자
법정동,,,,,,,,,,,,,,,,,
압구정동,80,"현대6차(78~81,83,84,86,87동)",1978,개인,65.00,2024,1,25,중개거래,196.7000,3,456,N,2024-05-02,11680,개인,2024-01-25
삼성동,사우스윙,아이파크,2004,개인,61.80,2024,1,31,중개거래,156.8570,32,87,N,2024-04-30,11680,개인,2024-01-31
대치동,5,"쌍용대치아파트1동,2동,3동,5동,6동",1983,개인,30.80,2024,1,23,중개거래,128.0300,4,66,N,2024-04-05,11680,개인,2024-01-23
논현동,모름,네오빌,2001,법인,24.00,2024,1,31,중개거래,73.0800,1,55-12,N,2024-11-25,11680,개인,2024-01-31
도곡동,모름,래미안도곡카운티,2016,개인,23.00,2024,1,28,중개거래,71.8500,7,538-3,N,1900-01-01,11680,개인,2024-01-28
개포동,303,디에이치아너힐즈,2019,개인,21.90,2024,1,30,중개거래,59.8732,17,1281,N,2024-04-30,11680,개인,2024-01-30
청담동,107,삼성청담공원아파트,1999,개인,21.00,2024,1,26,중개거래,107.2200,14,60,N,2024-05-13,11680,개인,2024-01-26
신사동,모름,현대아인빌,2004,개인,16.30,2024,1,30,중개거래,138.4200,4,569-1,N,2024-04-26,11680,개인,2024-01-30
수서동,1007,까치마을,1993,개인,11.95,2024,1,29,중개거래,49.5000,15,746,N,2024-05-20,11680,개인,2024-01-29
자곡동,703,강남자곡아이파크,2014,개인,11.35,2024,1,10,중개거래,59.9600,2,602,N,2024-04-08,11680,개인,2024-01-10
세곡동,모름,강남데시앙파크,2011,개인,11.00,2024,1,31,중개거래,84.9500,2,525,N,1900-01-01,11680,개인,2024-01-31
율현동,604동,강남한신휴플러스6단지,2015,개인,10.35,2024,5,28,중개거래,59.9800,4,365,N,2024-08-12,11680,개인,2024-05-28
일원동,120,수서,1992,개인,9.20,2024,1,30,중개거래,50.8200,9,711,N,2024-03-28,11680,개인,2024-01-30
역삼동,역삼동 EG SoulLeader,EGSoulLeader,2012,개인,2.00,2024,1,25,중개거래,17.0300,7,828-28,N,2024-02-26,11680,법인,2024-01-25

In [72]:
dfs.sort_values(by = ['거래금액'], ascending = False).groupby(by = '법정동').first()

,아파트_동명,단지명,건축년도,매수자,거래금액,계약년도,계약월,계약일,거래유형,전용면적,층,지번,토지임대부아파트,등기일자,지역코드,매도자,계약일자
법정동,,,,,,,,,,,,,,,,,
개포동,318,디에이치아너힐즈,2019,개인,59.5,2024,8,24,중개거래,131.3226,7,1281,N,2024-12-02,11680,개인,2024-08-24
논현동,모름,네오빌,2001,법인,72.0,2024,1,31,중개거래,187.4700,5,55-12,N,2024-11-25,11680,개인,2024-01-31
대치동,101,동부센트레빌,2005,개인,57.5,2024,10,17,중개거래,161.4700,9,670,N,2025-01-17,11680,개인,2024-10-17
도곡동,씨,타워팰리스1,2002,개인,79.0,2024,9,10,중개거래,244.6600,45,467,N,2024-12-16,11680,개인,2024-09-10
삼성동,이스트윙,아이파크,2004,개인,90.0,2024,1,9,중개거래,175.0520,33,87,N,2024-03-19,11680,개인,2024-01-09
세곡동,216,세곡푸르지오,2012,개인,16.0,2024,7,20,중개거래,84.8400,15,533,N,2024-09-30,11680,개인,2024-07-20
수서동,209동,강남 더샵 포레스트,2016,개인,34.0,2024,8,12,중개거래,146.7139,4,799,N,2025-02-20,11680,개인,2024-08-12
신사동,1,리갈팰리스,2007,개인,27.0,2024,1,20,중개거래,184.6300,2,626,N,2024-10-31,11680,개인,2024-01-20
압구정동,76,"현대7차(73~77,82,85동)",1979,개인,115.0,2024,6,14,중개거래,245.2000,9,456,N,2024-10-22,11680,개인,2024-06-14
역삼동,모름,현대까르띠에710,2001,개인,51.5,2024,8,13,직거래,230.0750,10,710,N,1900-01-01,11680,개인,2024-08-13
율현동,모름,강남한신휴플러스6단지,2015,개인,12.2,2024,6,5,중개거래,84.8300,4,365,N,1900-01-01,11680,개인,2024-06-05
일원동,801동,디에이치자이개포,2021,개인,45.5,2024,10,19,중개거래,132.9200,2,743,N,2025-03-31,11680,개인,2024-10-19
자곡동,604,래미안강남힐즈,2014,개인,21.3,2024,9,7,중개거래,101.9500,4,611,N,2024-12-20,11680,개인,2024-09-07
청담동,모름,PH129,2020,개인,138.0,2024,12,5,중개거래,273.9600,6,129,N,2025-01-31,11680,법인,2024-12-05